<section>
    <h1>Populer Search List</h1>
    <div>
             <ol>  
                  {{#each popularSearch}}              
                <li> 
                    <span class="spanClass">{{this}}</span>       
                </li>  
                 {{/each}}               
            </ol>
    </div>
</section>