<section>
    <h1>Serach Detail</h1>

<ul class="leftnav">
        {{#each searchData}}
            <li><a href="/show/{{this.show.id}}"><span class="valueSearchClass">{{this.show.name}}</span></a></li>
         {{/each}} 
        
</ul>
</br>
 <hr class='dotted' />

</section>